{% load static %}
<!DOCTYPE html>
<html>
<head>
           <title>Market Popcorn | {{ object.title }} </title>
  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="SeekingSirius, Seeking Sirius, investing, stocks, top stocks to buy, market news, ">
  <meta name="description" content="Free Web tutorials for HTML and CSS">
     <!-- icon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Icon -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" type="text/css" href="{% static 'news/post.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
</head>

</head>
  <nav class="navbar  justify-content-between">
    <a class="navbar-brand" href="{% url 'news' %}">
    <img src="{% static 'images/logopop.png' %}" alt="market_popcorn" style="width:160px;">
  </a>
      <form class="form-inline">
          <a href="{% url 'news-home' %}"> <button class="btn btn-primary" type="button">Subscribe</button></a>
 </form>
</nav>
<body>
<div class="container" style="padding: 0 17px;">
{{ object.body|safe }}
    </div>
</body>
    </html>