* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.navbar {
 padding:7px 6%;
  font-family: Poppins;
}

.btn {
   border-radius: 40px;
   position: relative;
       background-color: #ff8c00;
    border-color:  #ff8c00;
    font-family: Poppins;
}


.btn:hover {
    background-color: #ffc38d;
    border-color:  #ffc38d;

}